body{
    background-color:FFF5E0;
}
h1{
    color: 8DECB4;
}
#increaseb{
    font-size: 22px;
    background-color: blue;
    width: 177px;
    height: 32px;
    padding: 0px;
    position: relative;
    top: 252px;
    right: -184px
}

#decreaseb{
    width: 80px;
    height: 33px;
    background-color: red;
    position: relative;
    top: 249px;
    left: 365px;
}

#resetb{
    width: 79px;
    position: relative;
    top: 251px;
    left: 148px;
    height: 32px;
}
#myp{
    position: absolute;
    top: 42px;
    left: 436px;
    font-size: 98px;
}